<ion-view>
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input"  >
                <input type="password" placeholder="请输入旧密码" style="font-size: 17px;" ng-model="teacher.lodpassword"/>
            </label>
            <label class="item item-input">
                <input type="password" placeholder="请输入新密码" style="font-size: 17px;" ng-model="teacher.newpassword"/>
            </label>
            <label class="item item-input">
                <input type="password" placeholder="确认新密码" style="font-size: 17px;" ng-model="teacher.entnewpassword"/>
            </label>
        </div>
        <div>
            <button class="button button-positive button-block" ng-click="submit()">提交</button>
            <button class="button button-positive button-block" ng-click="cancel()">取消</button>
        </div>
    </ion-content>
</ion-view>