<ion-view view-title="消息详情">
    <ion-nav-buttons side="left">
        <i class="ion-ios-arrow-back ion-icon-a" ng-click="back()"></i>
        <span style="font-size: 18px; margin-left: 5px; margin-top: 8px;" ng-click="back()">Back</span>
    </ion-nav-buttons>
    <ion-content class="padding">
        <!--ng-repeat实现每次点击都会传递一个新的post参数到数组post中 -->
        <div>
            <div align="center">
                <img src="./img/tree.jpg" style="width: 100%;height: 100%;">
            </div>
            <p style="text-indent:2em;">十年树木，百年树人。在这美丽的广科院里，我们留下了太多的成长印记，我们也无法忘记学校给我们的温情关怀。为了表达这份对学校的感恩和回报，6月25日上午，计算机学院在校内开展了“同建樱树林，共筑校园情”校园植树活动。计算机学院院长余爱民、副院长曾文权、学院党总支副书记吴积军、办公室主任任淑美，教务科科长康玉忠、学工办全体老师以及后勤集团副总经理张峰、水电园林科科长王林军、罗水明等老师，还有参与捐赠的学生代表一起参加了本次活动。</p>
            <p style="text-indent:2em;">“同建樱树林，共筑校园情”捐赠植树活动从5月底开始向校内师生及校外校友们发出倡议，得到广泛的响应。无论是来自校内的教师、学生、社团、班级，还是身在校外的校友，都积极参与捐赠活动，其中来自校外的08级校友肖贤奋、07级校友曾震东以个人力量分别捐赠了10棵、5棵。捐赠植树总数量约达两百棵。</p>
        </div>
        <!--<button class="button button-block button-positive" ng-click="reply()">回复</button>-->
    </ion-content>
</ion-view>