<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- College profile -->
    <ion-tab title="学院简介" icon-off="icon ion-ios-monitor-outline" icon-on="ion-ios-monitor" href="#/college_tab/collegeProfile">
        <ion-nav-view name="tab-collegeProfile"></ion-nav-view>
    </ion-tab>

    <!-- Professional profile -->
    <ion-tab title="专业简介" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/college_tab/professionalProfile">
        <ion-nav-view name="tab-professionalProfile"></ion-nav-view>
    </ion-tab>

    <!-- College bulletin -->
    <ion-tab title="学院公告" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/college_tab/collegeBulletin">
        <ion-nav-view name="tab-collegeBulletin"></ion-nav-view>
    </ion-tab>

</ion-tabs>