<ion-view  view-title="学习" hide-back-button="true">

    <ion-content >
        <div class="padding" >
            <button class="button button-calm button-block" style="height: 150px;" ng-click="inform()">
                <i class="ion-email" style="font-size: 70px;"></i>
                <br/>
                <span>致新生的一封信</span>
            </button>
            <button class="button button-positive button-block" style="height: 150px;" ng-click="dorm()">
                <i class="ion-home" style="font-size: 70px;"></i>
                <br/>
                <span>选择宿舍</span>
            </button>
            <button class="button button-royal button-block" style="height: 150px;" ng-click="query()">
                <i class="ion-social-usd" style="font-size: 70px;"></i>
                <br/>
                <span>缴费查询</span>
            </button>

        </div>




    </ion-content>
</ion-view>