<ion-view view-title="致新生的一封信" hide-back-button="true">
    <ion-nav-buttons side="left">
        <i class="ion-ios-arrow-back ion-icon-a" ng-click="back()"></i>
        <span style="font-size: 18px; margin-left: 5px; margin-top: 8px;" ng-click="back()">返回</span>
    </ion-nav-buttons>
    <ion-content >
        <div class="list card">
            <div class="item item-body">
                <div align="center">
                    <h2>{{letter.title}}</h2>
                </div>
                <div ng-bind-html="letter.content"></div>
                <!--<div align="center">-->
                    <!--<h2>广东科学技术职业学院新生报到温馨提示</h2>-->
                <!--</div>-->
                <!--<p style="text-indent:2em;">我校2014年普通高考招生录取工作已基本结束，新生报到工作即将开始，现将有关事项提示如下：</p>-->
                <!--<p style="text-indent:2em;">一、考生可通过我校招生信息网录取结果查询系统（http://zsb.gdit.edu.cn/lqcx/index.php）查询录取结果，已录取考生的《录取通知书》、《新生入学须知》等相关材料已于8月27日前全部寄出，现未收到录取通知书的新生可登陆招生信息网查询邮单号（http://zsb.gdit.edu.cn/）,并向邮政EMS咨询投递情况。</p>-->
                <!--<p style="text-indent:2em;">请注意：快递有两份，一份是《录取通知书》、《新生入学须知》等相关材料；一份是学校赠送给新生的电话卡，请放心使用。新生如未收到上述两份材料，可咨询邮政EMS快递公司或学校招生办公室。</p>-->
                <!--<p style="text-indent:2em;"> 二、2014级新生报到日期为9月10日。请新生们不要提前来校报到，如无法及时报到，请根据录取通知书上的录取院系提前请假，过期未报到者将以自动放弃处理并注销其学籍。各院系联系电话如下：</p>-->
                <!--<p style="text-indent:2em;">三、新生收到《新生入学须知》等相关资料后，请仔细阅读各项内容，并提前办理好各项报到需提交的材料和手续。各业务部门联系电话如下：</p>-->
                <!--<p style="text-indent:2em;">四、非广州户籍新生如需转户籍至广州，请携带本人户口薄、身份证和《录取通知书》至本人户籍所在地派出所办理户口迁出手续，报到时请携带相关迁移材料到校保卫处办理迁入手续。不迁入户籍的新生无需办理上述手续。以上情况未尽详细，可咨询学校保卫处：0756-7796210</p>-->
                <!--<p style="text-indent:2em;">请注意：请新生考虑好是否迁入户籍，报到后将不再办理户籍迁入手续；迁入户籍为广州学生临时户口，毕业时如无企业接受户籍，将自动取消广州户籍，并迁回原户籍所在地。</p>-->
                <!--<p style="text-indent:2em;">五、入学前收到《入伍通知书》应征入伍的新生，需办理保留入学资格手续。具体程序是由学生本人或家长持《录取通知书》、《入伍通知书》、学生身份证（户口薄）、高中毕业证，到入伍地县（市、区）级征兵办填写《应征入伍普通高等学校录取新生保留入学资格申请表》，由县级征兵办审核盖章后将此表和入伍通知书复印件以公函形式发送到我校招生办公室，学校将办理相关手续，并将申请表寄送回相关县级征兵办。</p>-->
                <!--<p style="text-indent:2em;">请新生提醒县级征兵办公室及时向我校寄送有关材料，最晚日期不超过新生报到日，过时将视为主动放弃入学资格。学生可在退役当年新生入学期间，持《退伍证》和我校《录取通知书》，到我校办理入学事宜。</p>-->
                <!--<p style="text-indent:2em;">六、新生档案必须封装完整后由新生报到时带来上交班主任。当地教育局要求寄送的，可寄往学校招生办公室（建议采用EMS），新生报到后到招生办领取本人档案。</p>-->
                <!--<p style="text-indent:2em;">地址：广东省珠海市金湾区珠海大道南广东科学技术职业学院招生办公室（519090）<卓老师收></卓老师收></p>-->
                <!--<p style="text-indent:2em;">电话：0756-7796111</p>-->
                <!--<div style="text-align: right">-->
                    <!--<p>招生办公室</p>-->
                    <!--<p>2014年8月29日</p>-->
                <!--</div>-->

            </div>
        </div>
    </ion-content>
</ion-view>