
<ion-view view-title="学生管理系统登录" hide-back-button="true">
    <ion-content class="padding">

        <!--<div align="center" style="margin-top: 10%;">-->
            <!--<img src="img/icon.png" style="width: 20%;"/>-->
        <!--</div>-->

        <div class="list list-inset">
            <label class="item item-input"  >
                <i class="icon ion-person ion-icon-a" style="width: 40px"></i>
                <input type="text" placeholder="请输入手机号码" style="font-size: 17px;" ng-model="user.phone"/>
            </label>
            <label class="item item-input">
                <i class="icon ion-locked ion-icon-a" style="width: 40px"></i>
                <input type="password" placeholder="请输入密码" style="font-size: 17px;" ng-model="user.password"/>
            </label>

            <label>
                <ion-list>
                    <ion-item style="font-weight: bold" ng-click="check()">选择登录类型
                        <span class="item-note">{{user.usertype}}</span></ion-item>

                </ion-list>
                <div style="display: {{display}}">
                    <ion-radio  value="学生" ng-click="check()" ng-model="user.usertype" ng-change="choose(user.usertype)">学生</ion-radio>
                    <ion-radio  value="教师" ng-click="check()" ng-model="user.usertype" ng-change="choose(user.usertype)">教师</ion-radio>
                </div>
            </label>
        </div>

        <div align="center">
            <button class="button button-block button-positive " ng-click="login()">登录</button>
            <button class="button button-block button-positive" ng-click="register()">注册</button>
        </div>

    </ion-content>
</ion-view>