<ion-view view-title="学生管理系统APP注册" hide-back-button="true">
    <ion-nav-buttons side="left">
        <i class="ion-ios-arrow-back ion-icon-a" ng-click="back()"></i>
        <span style="font-size: 18px; margin-left: 5px; margin-top: 8px;" ng-click="back()">返回</span>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-iphone ion-icon-a phone" style="width: 40px"></i>
                <input type="text" placeholder="手机号码" style="font-size: 17px;" ng-model="user.registerPhone"/>
            </label>

            <label class="item item-input">
                <i class="icon ion-ios-barcode ion-icon-a" style="width: 40px"></i>
                <input type="text" placeholder="验证码" style="font-size: 17px;margin-left: 8px" ng-model="user.code"/>
            </label>

        </div>
        <div align="center">
            <button class="button button-positive button-block" ng-click="getCode()">获取验证码</button>
            <button class="button button-block button-positive" ng-click="back()" >取消</button>
            <button class="button button-block button-positive" ng-click="nextFoot()">下一步</button>
        </div>

    </ion-content>
</ion-view>