<ion-tabs class="tabs-icon-left tabs-color-active-positive">

    <!-- Teacher Platform Tab -->
    <ion-tab title="报道统计" icon-off="ion-ios-pulse-strong" icon-on="ion-ios-pulse-strong" href="#/statistics_tab/report">
        <ion-nav-view name="tab-report"></ion-nav-view>
    </ion-tab>

    <!-- Information Center Tab -->
    <ion-tab title="缴费统计" icon-off="ion-ios-pulse-strong" icon-on="ion-ios-pulse-strong" href="#/statistics_tab/pay">
        <ion-nav-view name="tab-pay"></ion-nav-view>
    </ion-tab>

</ion-tabs>