<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Teacher Platform Tab -->
    <!--<ion-tab title="消息通知" icon-off=" icon ion-ios-monitor-outline" icon-on="ion-ios-monitor" href="#/teacher_tabs/inforcenter">-->
        <!--<ion-nav-view name="teacher_inforcenter"></ion-nav-view>-->
    <!--</ion-tab>-->

    <!-- Information Center Tab -->
    <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/teacher_tabs/teacher_terrace">
        <ion-nav-view name="teacher_terrace"></ion-nav-view>
    </ion-tab>

    <!-- Personal Center Tab -->
    <ion-tab title="个人中心" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/teacher_tabs/presoncenter">
        <ion-nav-view name="teacher_preson"></ion-nav-view>
    </ion-tab>

</ion-tabs>